@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@media screen and (max-width: 750px) {
    .container {
        width: 100%;
    }
    .blog-flex {
        flex-direction: column;
    }
}

.page {
    font: 300 17px/1.58 'Raleway', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 44px 0;
    width: 78%;
}

.button {
    height: 50px;
    width: 180px;
    border: none;
    text-transform: uppercase;
    color: white;
    box-shadow:  0 1px 1px 1px grey;
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
}

.titles {
    font-weight: 700;
}

.fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.header {
    background: url("../img/fresh.jpg") 50% no-repeat;
    background-size: cover;
    height: 900px;
}

.header__logo {
    height: 47px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 212px;
}

.header__info {
    width: 34%;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25%;
}

.header__info--title {
    color: #262626;
    font-size: 54px;
    font-weight: 900;
    text-transform: capitalize;
}

.header__info--text {
    font-size: 15px;
}

.header__info--button {
    background: #ff6033;
}

.header__scroll {
    margin: 0 auto;
    display: block;
}

.header__scroll:hover {
    opacity: 0.8;
   width: 30px;
}

.navigation {
    width: 499px;
    display: flex;
    justify-content: space-between;
}
.navigation__el {
    font-size: 14px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation__el:hover {
    border-top: 3px solid #ff6033;
}

.about {
    background-color: #00c4c4;
    height: 630px;
    color: white;
}

.about__info {
    display: flex;
}

.about__info--image {
    width: 586px;
}

.about__info--column {
   padding-left: 17px;
}

.about__info--title {
    padding: 86px 0 0;
    font-size: 81px;
    text-transform: capitalize;
    margin: 0;
}

.about__info--image:hover {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.about__info--text p {
    font-size: 15px;
    margin-bottom: 15px;
}

.services {
    background-color:  #70bfff;
    height: 710px;
}

.services__filling {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 652px;
}

.services__filling--right {
    height: 527px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/tomato.png) no-repeat 100%;
}

.services__title {
    font-size: 78px;
    color: #fff;
}

.list {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.list__item {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 341px;
}

.list__item--link {
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    width: 75%;
}

.list__item--link:hover {
    opacity: 0.7;
}

.list__icon {
    height: 90px;
    width: 25%;
    background: 50% no-repeat;
    border-left: 1px solid #9D9D9D;
}

.list__icon--cart{
    background-image: url(../img/icons/icon-cart.svg);
}

.list__icon--globe{
    background-image: url(../img/icons/icon-globe.svg);
}

.list__icon--quality{
    background-image: url(../img/icons/icon-quality.svg);
}

.list__icon--carrot{
    background-image: url(../img/icons/icon-carrot.svg);
}

.gallery {
    background-color: #ffe92f;
    height: 1383px;
}

.gallery__info {
    width: 560px;
    margin: 15px auto 36px;
    text-align: center;
}

.gallery__title {
    font-size: 80px;
}

.gallery__container {
    display: grid;
    grid-gap: 13px;
    margin-bottom: 37px;
}

.gallery__container--peach {
    grid-area: 1/1/3/5;
}

.gallery__container--blueberries {
    grid-area: 1/5/2/7;
}

.gallery__container--blackberries {
    grid-area: 2/5/3/7;
}

.gallery__container--milk {
    grid-area: 3/1/4/4;
}

.gallery__container--persimmon {
    grid-area: 3/4/4/7;
}

.gallery__button {
    background: #5585a2;
    display: block;
    margin: 0 auto;
}

.pictures {
    position: relative;
}

.pictures__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: greenyellow;
    opacity: 0;
}

.pictures__mask:hover {
    opacity: 0.7;
    cursor: zoom-in;
}
.pictures__peach {
    width: 692px;
}

.pictures__blueberries {
    width: 333px;
}
.pictures__blackberries {
    width: 333px;
    padding-top: 7px;
}
.pictures__milk {
    width: 512px;
    padding-top: 8px;
}
.pictures__persimmon {
    width: 512px;
    padding: 7px 0 0 13px;
}

.subscribe {
    background: url("../img/subscribe.jpg") no-repeat;
    background-size: 100%;
    height: 450px;
}

.subscribe__info {
    margin-top: 72px;
    width: 694px;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe__info--title {
    font-size: 36px;
}

.subscribe__info--text{
    font-size: 14px;
    width: 450px;
}

.subscribe__form {
    display: flex;
    justify-content: space-between;
}

.subscribe__form--email {
    height: 50px;
    width: 512px;
    border: 1px solid grey;
    font-size: 12px;
    text-indent: 12px;
}
.subscribe__form--button {
    background: #96b92c;
    width: 150px;
}

.blog {
    background-color: #b07cf7;
    height: 778px;
}

.blog__info {
    width: 570px;
    margin: 15px auto 33px;
    text-align: center;
    color: white;
}

.blog__title {
    font-size: 80px;
}

.blog__button {
    background: #f72b3b;
    display: block;
    margin: 0 auto;
}

.blog-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.blog-flex__item--link{
    display: block;
    position: relative;
}

.blog-flex__body:hover {
    color: #b07cf7;
}
.blog-flex__item--link img {
    height: 278px;
}

.blog-flex__body {
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-flex__date {
    background: rgba(68, 74, 84, 0.9);
    width: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 3px;
    text-align: center;
    line-height: 1;
    border-radius: 5px;
}

.blog-flex__date span {
    font-size: 30px;
}

.blog-flex__title {
    margin-bottom: 8px;
}

.blog-flex__author {
    font-size: 11px;
}

.contact {
    background: url("../img/contact.jpeg") no-repeat;
    background-size: cover;
    height: 778px;
}

.contact__info {
    width: 350px;
    margin: 13px auto 36px;
    text-align: center;
}

.contact__title {
    font-size: 80px;
}

.contact__text {
    font-size: 16px;
}

.contact__container {
    display: flex;
    justify-content: space-between;
}

.contact__container--1-2 {
    flex-basis: 43%;
}

.contact__form {
    width: 448px;
    margin-bottom: 13px;
    height: 44px;
    text-indent: 18px;
    background: rgba(121, 219, 218, 0.8);
    color: white;
    border: none;
    font-weight: 700;
    outline: none;
}

.contact__form::placeholder {
    color: white;
    font-size: 13px;
    font-weight: 300;
}

.contact__form:focus {
    border-left: 6px solid #355b82;
    width: 442px;
    text-indent: 12px;
}

.contact__form--message {
    height: 210px;
    padding: 12px 0 0;
}

.footer {
    background: url("../img/contact_small.jpeg") no-repeat;
    background-size: cover;
    height: 90px;
    color: white;
    font-size: 13px;
}
.footer__container {
    width: 78%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 60px;
}

.footer__text--red {
    color: #f12b55;
    text-decoration: none;
}